#panel_12_id
{
	background-color: red;
	width: 800px;
	height: 800px;
}

/**********************************************************anchor styles*********************************************************************/

.top
{

}

.left
{

}

.bottom
{

}

.right
{

}
